<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>YugiLP {{ lp.ref }}</title>
	<link rel="stylesheet" href="http://ns3009373.ip-37-187-4.eu/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://ns3009373.ip-37-187-4.eu/css/lp.css" />
    </head>
    <body>
      <div class="container">
		<div class="row">
		
		  <div class="col-md-6">
			<div class="row names">
			  <div class="pname">{{ pa }}</div>
			</div>
			<div class="row lps">
			  <div class="life">
				<span class="lifecounter">{{ lp.lpa }}</span>
			  </div>
			</div>
		  </div>
		  
		  <div class="col-md-6">
			<div class="row names">
			  <div class="pname">{{ pb }}</div>
			</div>
			<div class="row lps">
				<div class="life">
					<span class="lifecounter">{{ lp.lpb }}</span>
				</div>
			</div>
		  </div>
		  
		</div>
      </div>
	  
    </body>
</html>
